<section class="container mt-3">
    <h1>{{ type }} usuario</h1>
    <form [formGroup]="userForm" (ngSubmit)="getDataForm()">
  
      <div>
        <label class="form-label" for="first_name">Nombre</label>
        <input class="form-control mb-3" type="text" id="first_name" formControlName="first_name">
        <p class="error" *ngIf="checkControl('first_name', 'required')">Campo requerido</p>
        <p class="error" *ngIf="checkControl('first_name', 'pattern')">Por favor, introduce solo caracteres válidos</p>
      </div>
  
      <div>
        <label class="form-label" for="last_name">Apellidos</label>
        <input class="form-control mb-3" type="text" id="last_name" formControlName="last_name">
        <p class="error" *ngIf="checkControl('last_name', 'required')">Campo requerido</p>
        <p class="error" *ngIf="checkControl('last_name', 'pattern')">Por favor, introduce los dos apellidos correctamente</p>
      </div>
  
      <div>
        <label class="form-label" for="email">Email</label>
        <input class="form-control mb-3" type="text" id="email" formControlName="email">
        <p class="error" *ngIf="checkControl('email', 'required')">Campo requerido</p>
        <p class="error" *ngIf="checkControl('email', 'pattern')">Formato de email no válido</p>
      </div>
  
      <div>
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" formControlName="username">
        <p class="error" *ngIf="checkControl('username', 'required')">Campo requerido</p>
      </div>

      <div *ngIf="type!=='Actualizar'"> <!--  El campo password solo se muestra al crear un nuevo usuario -->
        <label class="form-label mt-3" for="password">Password</label>
        <input class="form-control" type="password" id="password" formControlName="password">
        <p class="error" *ngIf="checkControl('password', 'required')">Campo requerido</p>
        <p class="error" *ngIf="checkControl('password', 'minlength')">La longitud del password debe ser entre 6 y 20 caracteres</p>
        <p class="error" *ngIf="checkControl('password', 'maxlength')">La longitud del password debe ser entre 6 y 20 caracteres</p>
      </div>
  
      <input type="submit" [value]="type" class="btn btn-success mt-3">
    </form>
  </section>
  
  