<section class="container mt-4">
    <div class="row">
        <h2 class="fs-1 fw-bold">ERROR 404</h2>
        <h2>¡Vaya, no encontramos la página que intentas solicitar!</h2>
        <h5 class="mt-3">Puedes regresar al <span><a href="/home" class="text-decoration-none fw-bold text-body">listado</a></span> o puedes jugar a una partida de tres en raya contra el webmaster</h5>
        <hr>
        <div class="col-12 m-auto">
            <canvas id = "canvas1" width = "1000px" height = "700px"></canvas>
        </div>
    </div>
</section>



    
